/* ======== Components' styling ======== */
/**simple alert**/
.alert {
  background-color: #333333;
  color: #ffb548;
  padding: 10px;
  border-radius: 4px;
}

/* Navbar */
nav {
  background-color: rgba(10, 10, 10, 0.6);
  font-size: 12px;
  letter-spacing: 0.2rem;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* Button */
.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  width: 150px;
  height: 49px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #ffb548;
  box-shadow: 3px 3px 3px #1a1a1a;
}

.button :link {
  color: black;
  background-color: #ffb548;
  box-shadow: 3px 3px 3px #1a1a1a;
}

.button :visited {
  color: black;
  background-color: #ffb548;
  box-shadow: 3px 3px 3px #1a1a1a;
}

.button :hover {
  background-color: #cc9036;
}

.button :active {
  background-color: #db9b3b;
}

/* Input */
.input-field {
  display: flex;
  max-width: 350px;
  width: 100%;
  height: 55px;
  background-color: #333333;
  margin: 10px 0;
  border-radius: 4px;
  padding: 0 0.4rem;
  box-shadow: 5px 5px 5px #1a1a1a;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 1rem;
  color: #ffb548;
}

.input-field input::placeholder {
  color: #aaa;
  text-transform: capitalize;
}

/* SocialMedia */
.social-text {
  margin: 1rem 0;
  color: #1a1a1a;
  text-transform: capitalize;
  font-size: large;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border: 1px solid #1a1a1a;
  border-radius: 50px;
  background-color: #1a1a1a;
  margin: 0 0.5rem;
  text-decoration: none;
}

.social-icon:hover {
  background-color: black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
  color: #1a1a1a;
}

/* RoomBox */
.room-box {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #1d1d1d;
  box-shadow: 3px 3px 3px #1a1a1a;
  padding: 5px;
  margin: 10px;
  width: 350px;
  height: 120px;
  margin-top: 0px;
}

.title-room {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffb548;
  padding-top: 5px;
}

.content-room {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: #ddd;
}

.content-room p {
  padding: 0 5px;
  margin: 3px;
}

/* PrevNext */
.prevnext a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.prevnext a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  width: 4.7em;
}

.next {
  background-color: #1a1a1a;
  color: white;
  width: 4.7em;
}

/* ======= Pages' styling ======== */

/* Landing Page */
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Arial";
  cursor: default;
}

/* Main Content */
.bg-image-1 {
  background-image: url("./assets/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 135vh 50px;
}

div.content {
  height: 125vh;
}

h1.h1-lp {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

h3.h3-lp {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
}

h3.experience {
  letter-spacing: 0.15rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button-lp {
  background-color: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px !important;
  font-size: 16px;
  font-weight: 700;
}

/* Second Content */
.bg-image-2 {
  background-image: url("./assets/the-games-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 150vh;
}

h2.h2-lp {
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 3px;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Third Content */
.bg-image-3 {
  background-image: url("./assets/features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 120vh;
}

.third-content-container {
  height: 100%;
  margin-left: 570px;
}

.features-list {
  list-style-position: outside;
  list-style-type: circle;
  letter-spacing: 0.1rem;
}

ul.features-list {
  list-style-image: url("./assets/ellipse-outline.svg");
}

li.traditional-games {
  list-style-image: url("./assets/ellipse.svg");
  position: relative;
}

.popup {
  background-color: #312b23;
  padding: 15px;
  border-radius: 12px;
  position: absolute;
  top: 100px;
  left: 50%;
  white-space: pre-line;
  transform: translateX(-50%);
}

.button:disabled {
  opacity: 0.5;
}

/* Vertical Line */
.vertical-line::after {
  content: "";
  position: absolute;
  display: block;
  /* top: 1px; */
  right: 0%;
  bottom: 10px;
  left: -3.8%;
  height: 70px;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: white;
  z-index: 1;
}

.orange-text {
  color: #ffb548;
  text-transform: uppercase;
}

/* Fourth Content */
.bg-image-4 {
  background-image: url("./assets/requirements.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 140vh;
}

.blank {
  background-image: url("./assets/shadow.png");
  height: 100%;
}

.part1-4thcontent {
  height: 25vh;
  letter-spacing: 0.1rem;
}

.part2-4thcontent {
  height: 100vh;
  /* width: 90vw; */
  width: 90%;
  padding-top: 80px;
}
.wrapFilter{
  position: absolute;
  right: 40vw;
}
.showFilter{
  cursor: pointer;
  display: flex;
}
.filterbutton{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
}

.filterItem{
  cursor: pointer;
  padding:15px 30px;
  color: #1a1a1a;
  text-align: center;
  background-color:#cc9036;
  font-size: 15px;
  margin-bottom: 2px;
  border-radius: 4px !important;
}
.filterItem:hover {
  cursor: pointer;
  background-color: #2c2c2c;
  color:#cc9036;
}

/* Table */
table.table-lp,
td.table-lp {
  border: 1px solid rgb(60, 60, 60);
  border-collapse: collapse;
  height: 140px;
  width: 45%;
  text-align: left;
  padding-left: 20px;
}

/* Fifth Content */
.bg-image-5 {
  background-image: url("./assets/top-score-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 120vh;
}

.fifth-content {
  background-image: url("./assets/top-score-bg\(2\).png");
  height: 100%;
}

.top-scores-1 {
  width: 41%;
  margin-left: 140px;
}

.top-scores-2 {
  width: 50%;
}

.card {
  background-color: #1d1d1d;
  width: 30vw;
  height: 25vh;
}

.date-topscore {
  font-size: 14px;
  color: #1d1d1d;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-twt {
  vertical-align: middle;
  width: 25px;
  height: 20px;
}

/* Sixth Content */
.bg-image-6 {
  background-image: url("./assets/newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 130vh;
}

.form-control {
  background-color: #1d1d1d;
}

#floatingInputValue {
  background-color: #1d1d1d;
  color: #ffad33;
  border: none;
}

#skull {
  -webkit-mask-image: radial-gradient(circle, black, black, transparent);
  mask-image: radial-gradient(circle, black, black, transparent);
}

/* Footer */
.footer-list {
  color: white;
}

.footer-list:link {
  text-decoration: none;
}

.footer-list:visited {
  text-decoration: none;
}

.footer-list:hover {
  text-decoration: none;
  color: white;
}

.footer-list:active {
  text-decoration: none;
}

/* Authentication Page (Login & Registration) */
.authentication-container {
  background-image: url("./assets/top-score-bg.png");
  height: 100vh;
}

.auth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 89%;
}

/* profile */
.marginTop30 {
  margin-top: 30px
}

.img-profile {
  display: flex;
  justify-content: center;
}

.yellow-color {
  color: #ffb548;
}

.edit-icon {
  width: 22px;
  margin-left: 10px;
}

.edit-profile:hover {
  color: #ffb548;
}

.edit-profile {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  text-decoration: underline;
  position: relative;
  top: -2rem;
  right: -10px;

}
.rooms{
  max-height: 70vh;
  overflow-y: scroll;
}
.roomName{
  text-align: center;
  
  color: #ffb548;
}
/***scroll game**/
/* width */
.dashboard-content ::-webkit-scrollbar,
.gameHistory-content ::-webkit-scrollbar{
  width: 8px;
}

/* Track */
.dashboard-content ::-webkit-scrollbar-track,
.gameHistory-content ::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
.edit-icon{
  cursor: pointer;
}
.upper-game a:first-child button:hover{
  background-color: #1d1d1d;
  box-shadow: 3px 3px 3px #1a1a1a;
  border-radius: 4px ;
  color: #f3af34;
}
/* Handle */
.dashboard-content ::-webkit-scrollbar-thumb,
.gameHistory-content ::-webkit-scrollbar-thumb{
  background: #ffb548; 
  border-radius: 10px;
}

/* Handle on hover */
.dashboard-content ::-webkit-scrollbar-thumb:hover,
.gameHistory-content ::-webkit-scrollbar-thumb:hover {
  background: #ffb548; 
}
.container-gameHistoryUser{
  margin-right:1em
}
.ReactModal__Overlay {
  background-color: rgb(32 31 31 / 75%);
}

.modalProfile {
  top: 50%;
  position: relative;
  left: 50%;
  box-shadow: 0px 0px 10px #1a1a1a;
  background-color: #1d1d1d;
  color: #ddd;
  border: 0;
  padding: 30px;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  max-width: 390px;
}

.input-field.nobg {
  position: relative;
  display: inline-block;
  background-color: transparent;
  margin-bottom: 40px;
  margin-top: 0px;
  padding: 0;
}

.modalProfile .auth-form {
  align-items: flex-start;
}

.input_picture::-webkit-file-upload-button {
  background-color: #333333;
  padding: 15px;
  border-radius: 4px;
  color: #aaa;
  border: none;
}

.input_picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.input-field input[type="file"] {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1d1d1d;
  height: 37rem;
  width: 27rem;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 25px #1a1a1a;
}

.img-profile img {
  object-fit: contain;
}

.auth-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2.title {
  font-size: 2.3rem;
  text-transform: capitalize;
  margin: 2rem 0rem 2rem;
  color: #ffb548;
  text-transform: uppercase;
}

.bottom-link {
  display: flex;
  justify-content: center;
}

.bottom-link :link {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.bottom-link :visited {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.bottom-link :hover {
  color: #ffb548;
  font-weight: 600;
}

.bottom-link :active {
  color: #db9b3b;
  font-weight: 700;
}

/* Dashboard Page */
.dashboard {
  background-image: url("./assets/the-games-bg.jpg");
  background-position: center top;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin-left: 50px;
  margin-right: 50px;
  height: 90vh;
}

.upper-game {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-left: 50px;
}

.play-vs-com {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  width: 152px;
  height: 51px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffb548;
  background-color: #1d1d1d;
  box-shadow: 3px 3px 3px #1a1a1a;
}

.play-vs-com :link {
  background-color: #1d1d1d;
}

.play-vs-com :visited {
  background-color: #1d1d1d;
}

.play-vs-com :hover {
  background-color: #2c2c2c;
}

.play-vs-com:active {
  background-color: #1d1d1d;
}

.create-room {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 65px;
}

.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
}

.room-box:hover {
  cursor: pointer;
  background-color: #2c2c2c;
}

.rooms :active {
  background-color: #1d1d1d;
}

.biodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #1a1a1a;
  background-color: #333;
  color: #ddd;
  width: 30%;
  padding: 0 1.5em;
  margin-right: 50px;
  margin-left: 50px;
  height: 80vh;
}

/* CreateRoom Page */
.create-new-room {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.create-room-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.room-name {
  margin-bottom: 1rem;
}

.your-choice {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  color: #f3af34;
  text-shadow: 2px 2px 2px #1a1a1a;
  margin: 0.5rem 0;
}

.choices {
  display: flex;
  flex-direction: row;
}

.box {
  padding: 1em;
  margin: 4em;
}

.rock img {
  width: 125px;
  height: 125px;
}

.paper img {
  width: 125px;
  height: 125px;
}

.scissors img {
  width: 125px;
  height: 125px;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  cursor: pointer;
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
  border-radius: 30px;
}

.btn-save {
  display: flex;
  justify-content: center;
}

h1.h1-lp {
  text-align: center;
}

.the-games {
  margin-bottom: 480px;
}
.pdf-div{
  display: flex;
  justify-content: center;
  margin:30px auto;
}
@media screen and (max-width: 1280px) {
  .the-games {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .right-side {
    padding: 40px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .second-content {
    flex-direction: column !important;
  }

  .bg-image-2 {
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav.ps-4 {
    padding-left: 0 !important;
  }

  .navbar-nav.ms-5 {
    margin-left: 0rem !important;
  }

  .logo.px-4 {
    padding-left: 0 !important;
  }

  .logo.mx-5 {
    margin-left: 0 !important;
  }

  .navbar-nav .mx-4 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .nav-item.mx-2 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  h1.h1-lp {
    padding: 0 30px;
  }
}

/* Media Queries*/
/* Mobile Design */
@media screen and (max-width: 767px) {
  body {
    font-size: 12px !important;
    letter-spacing: 0.04rem !important;
  }

  /* Main Content */
  .bg-image-1 {
    background-position: center;
    height: 100vh;
  }

  nav {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }

  div.content {
    height: 92.5%;
  }

  a.logo {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  h1.h1-lp {
    font-size: 25px;
    letter-spacing: 0.2rem;
  }

  h1.font-bebas-neue {
    margin-bottom: 13px;
  }

  h2.h2-lp {
    font-size: 21px;
    letter-spacing: 0.15rem;
  }

  h3.h3-lp {
    font-size: 16px;
    letter-spacing: 0.1rem;
  }

  h3.experience {
    letter-spacing: 0.1rem;
    margin-top: 12px;
    margin-bottom: 10px;
  }

  button.button-lp {
    width: 150px;
    padding: 14px 12px !important;
    font-size: 12px;
  }

  /* Second Content */
  .bg-image-2 {
    background-position: 25%;
    height: 100vh;
  }

  .second-content {
    display: flex;
    flex-direction: column !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  div.the-games {
    margin-bottom: 10px !important;
    margin-right: 100px !important;
  }

  .slideshow-container {
    width: 300px;
    margin-top: 10px;
  }

  /* Third Content */
  .bg-image-3 {
    background-position-x: 40%;
    background-position-y: 10%;
    height: 100vh;
  }

  .third-content-container {
    margin-left: 100px;
  }

  div.features-container {
    margin-bottom: 0 !important;
  }

  .features-list {
    letter-spacing: 0.07rem;
    /* letter-spacing: 0.1rem; */
  }

  /* Vertical Line */
  .vertical-line::after {
    content: "";
    position: absolute;
    display: block;
    /* top: 1px; */
    right: 0%;
    bottom: 10px;
    left: -5.4%;
    height: 60px;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: white;
    z-index: 1;
  }

  /* Fourth Content */
  .blank {
    background-color: #10101063;
    background-image: none !important;
  }

  .bg-image-4 {
    height: 100vh;
    background-position-x: 55%;
  }

  .part1-4thcontent {
    height: 15%;
  }

  .part2-4thcontent {
    height: 85%;
    width: 100% !important;
    position: absolute;
    left: 30px;
  }

  /* Table */
  table.table-requirements {
    margin-top: 5px !important;
  }

  /* Fifth Content */
  .bg-image-5 {
    height: 100vh;
  }

  .fifth-content {
    display: flex;
    flex-direction: column;
  }

  .top-scores-1 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .top-scores-1 h2,
  .top-scores-1 p,
  .top-scores-1 div {
    margin: 10px 0 !important;
  }

  .top-scores-2 {
    margin-top: 20px;
    width: 100%;
    height: 72%;
  }

  .card {
    width: 60vw;
    margin: 0 30px 10px 30px !important;
  }

  .date-topscore {
    font-size: 12px;
  }

  /* Sixth Content */
  .bg-image-6 {
    height: 100vh !important;
  }

  .part1-6thcontent {
    height: 90% !important;
    margin: 0 0 !important;
  }

  #skull {
    display: none;
  }

  .newsletter {
    margin: 0 30px !important;
    background-image: url("./assets/skull.png");
    background-attachment: scroll;
    background-size: 80%;
    background-position: 85% 15% !important;
    background-repeat: no-repeat;
  }

  .newsletter p {
    margin-bottom: 0 !important;
  }

  .form-container-lp {
    margin-top: 30px !important;
  }

  /* Footer */
  .footer {
    height: 10% !important;
    margin: 0 30px !important;
    font-size: 8px !important;
  }

  .part1-footer {
    height: 50% !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-nav {
    margin-right: 0px !important;
  }

  a.footer-list {
    margin: 0 5px !important;
  }

  .socialmedia {
    margin-left: 0px !important;
  }

  .item-sosmed {
    margin: 0 30px !important;
  }

  .part2-footer {
    height: 50% !important;
    font-size: 8px !important;
  }

  .privacy-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 !important;
    margin: 0 0 16px 0 !important;
  }
}

/* ============== style untuk  page player vs com match =============== */
.playerVsComContainer {
  height: 100vh;
  background-image: url("./assets/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.player1Vsplayer2-content-matchVsCom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1Vsplayer2-content-leftVsCom,
.player1Vsplayer2-content-middleVsCom,
.player1Vsplayer2-content-rightVsCom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
}

.leftTitlePlayer,
.rightTitlePlayer {
  background-color: #2c2c2c;
  border-radius: 2em;
  padding: 0.5em;
  width: 15em;
  text-align: center;
  margin-bottom: 0.75em;
  color: #ffb548;
}

.middleVsCom-box {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  width: 7em;
  height: 3em;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  color: #ffb548;
}

.player1Vsplayer2-rock-leftVsCom:hover,
.player1Vsplayer2-paper-leftVsCom:hover,
.player1Vsplayer2-scissors-leftVsCom:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.player1Vsplayer2-rock-leftVsCom,
.player1Vsplayer2-rock-rightVsCom,
.player1Vsplayer2-paper-leftVsCom,
.player1Vsplayer2-paper-rightVsCom,
.player1Vsplayer2-scissors-leftVsCom,
.player1Vsplayer2-scissors-rightVsCom {
  width: 6em;
  height: 6em;
  margin: 0.75em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 0.5em;
}

.p1player {
  width: 6em;
  height: 6em;
  margin: 0.75em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: auto;
  padding: 0.5em;
}

.p2player:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}
.p2player {
  width: 6em;
  height: 6em;
  margin: 0.75em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 0.5em;
}
.complete-room-p1 {
  width: 6em;
  height: 6em;
  margin: 0.75em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 0.5em;
  cursor: auto;
}

.player1Vsplayer2-rock-rightVsCom,
.player1Vsplayer2-paper-rightVsCom,
.player1Vsplayer2-scissors-rightVsCom {
  cursor: auto;
}

.vsComRefresh {
  display: flex;
  justify-content: center;
  margin-top: -4em;
}

.vsComTombolRefresh {
  width: 4em;
  height: 4em;
  border-radius: 2em;
  padding: 0.5em;
  background-color: rgb(111, 228, 202, 0.5);
}

.vsComTombolRefresh:hover {
  background-color: rgb(255, 182, 71);
  transform: scale(1.05);
  cursor: pointer;
}

.vsComBottomText {
  display: flex;
  justify-content: center;
}

.vsComBottomTextResult,
.vsComBottomTextReady {
  font-family: cursive;
  font-weight: 500;
  font-size: small;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  color: #ffb548;
}

.vsComBottomTextResult {
  font-family: cursive;
  font-weight: 750;
  text-align: center;
  border-radius: 1em;
  background-color: #2c2c2c;
}

/* ============== style untuk  page game history =============== */
.gameHistory-Container {
  height: 100vh;
  background-image: url("./assets/the-games-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.gameHistory-container-below {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.gameHistory-content {
  display: grid;
  justify-content: center;
}

.gameHistory-title {
  margin-bottom: 1em;
  font-size: x-large;
  font-weight: 750;
  color: #ffb548;
  display: grid;
  justify-content: center;
}

.tabel-gameHistory {
  margin-top: 1em;
  max-height: 54vh;
  overflow-y: scroll;
}

.container-gameHistoryUser {
  margin-top: 0em;
  display: grid;
  gap: 0.5em;
  text-align: center;
}

.singleHistoryTable {
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3 {
  width: 15em;
  padding: 0.5em;
  text-align: center;
  background-color: #2c2c2c;
  margin-right: 0.5em;
  font-weight: bold;
  color: #fcfbfa;
}

.col-1h,
.col-2h,
.col-3h {
  width: 15em;
  padding: 0.5em;
  text-align: center;
  background-color: #2c2c2c;
  margin-right: 0.5em;
  font-weight: bold;
  color: #ffb548;
}
.wrap-history {
  display: flex;
}

/* ------------------------------myRoom---------------------------- */
.belowText-myRoom {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb548;
}

.belowText-myRoom-content > span {
  font-weight: bold;
  color: #ffb548;
  border-radius: 3em;
  padding: 0.5em;
}

.belowText-myRoom-content > span:hover {
  background-color: #2c2c2c;
  transform: scale(2);
}